/* *{
    margin: 0px;
    padding: 0px;
} */
body{
    width: 98vw;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
}

header h1{
    color: white;
}
#container{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 30vw;
    height: 80vh;
    padding: 15px;
}

main{
    width: 100%;
}

#add-task-area{
    width: 80%;
    background-color: white;
    padding: 10px 30px 10px 30px;
    margin-bottom: 15px;
}

#add-task-area input{
    font-size: 1.5em;
    width: 75%;
    border: none;
    outline: none;
}


#add-task-area button{
    font-size: 1.5em;
    border: none;
    background-color: white;
    font-weight: bold;
}

#add-task-area button:hover{
    cursor: pointer;
}

#display-task-area{
    width: 80%;
    background-color: white;
    padding: 30px;
}

#display-task-area div{
    border-bottom: 1px solid black;
    padding: 10px;
}

footer p{
    color: white;
}